[site]
name = "{site_name}"
url = "{site_url}"

[content]
source_dir = "docs"
output_dir = "site"
ignore_patterns = [".obsidian/**", "templates/**", "_drafts/**"]
blog_dirs = ["blog", "posts"]
default_type = "doc"

[vault]
mode = "{vault_mode}"
{vault_source_path_line}link_path = "{vault_link_path}"

[validation]
require_date_for_posts = true
fail_on_broken_links = true
check_heading_anchors = true

[deploy]
method = "gh-pages"
site_dir = "site"
branch = "main"
pages_branch = "gh-pages"

[hooks]
